<!--
  Generated template for the CustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>customer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-row>
      <ion-col text-center>
        <div class='header-item'>
          <img  alt="">
          电话客服
        </div>
      </ion-col>
      <ion-col text-center>
        <div class="header-item">
          <img  alt="">
          意见反馈
        </div>
      </ion-col>
    </ion-row>
    <ion-list class='list-title'>
      <ion-item>
        <img  alt="">
        常见问题
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-item class="customer-item"  *ngFor="let d of data" (click)="toggleDetails(d)">
          <div class="list-title">
            {{d.title}}
            <ion-icon  item-right [name]="d.icon"></ion-icon>
          </div>
          <div *ngIf="d.showDetails">
            <div *ngFor="let items of d.details" >
                {{items.detailTitle}}
                <div *ngFor="let item of items.content" >
                  {{item}}
                </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
</ion-content>
